<div class="form-center-lg">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center"><b>Tasks</b></h1>
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-tabs" style="min-height:30vh">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-player-ml-summaries-tab" data-toggle="pill" href="#custom-tabs-one-player-ml-summaries" role="tab" aria-controls="custom-tabs-one-player-ml-summaries" aria-selected="true">
                                        Player Match Log Summaries
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-team-ml-summaries-tab" data-toggle="pill" href="#custom-tabs-one-team-ml-summaries" role="tab" aria-controls="custom-tabs-one-team-ml-summaries" aria-selected="false">
                                        Team Match Log Summaries
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-ml-imports-tab" data-toggle="pill" href="#custom-tabs-one-ml-imports" role="tab" aria-controls="custom-tabs-one-ml-imports" aria-selected="false">
                                        Match Log Imports
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-one-player-ml-summaries" role="tabpanel" aria-labelledby="custom-tabs-one-player-ml-summaries-tab">
                                    <h3>Update Player Match Log Summaries</h3>
                                    <i>Updates may take 1-2 minutes</i>
                                    <div id="actionPlayerUpdates" style="margin-top:20px">
                                        <button class="btn btn-primary btn-lg" id="btnStartPlayerUpdates">Start</button>
                                        <span style="font-size: 48px; color:dimgray; display:none;" id="spinnerPlayerUpdates">
                                            <i class="fas fa-sync-alt fa-spin"></i><br />Processing..
                                        </span>
                                    </div>
                                    <div id="resultPlayerUpdates" class="text-success" style="font-size:30px; display:none">
                                        <span class="text-success" style="font-size: 48px" id="spinnerPlayerUpdates">
                                            <i class="fas fa-clipboard-check"></i><br />
                                        </span>
                                        Updates Complete
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-team-ml-summaries" role="tabpanel" aria-labelledby="custom-tabs-one-team-ml-summaries-tab">
                                    <h3>Update Team Match Log Summaries</h3>
                                    <i>Updates may take 1-2 minutes</i>
                                    <div id="actionTeamUpdates" style="margin-top:20px">
                                        <button class="btn btn-primary btn-lg" id="btnStartTeamUpdates">Start</button>
                                        <span style="font-size: 48px; color:dimgray; display:none;" id="spinnerTeamUpdates">
                                            <i class="fas fa-sync-alt fa-spin"></i><br />Processing..
                                        </span>
                                    </div>
                                    <div id="resultTeamUpdates" class="text-success" style="font-size:30px; display:none">
                                        <span class="text-success" style="font-size: 48px" id="spinnerTeamUpdates">
                                            <i class="fas fa-clipboard-check"></i><br />
                                        </span>
                                        Updates Complete
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-ml-imports" role="tabpanel" aria-labelledby="custom-tabs-one-ml-imports-tab">
                                    <h3>Import all Pending Match Log Imports</h3>
                                    <i>Updates may take 1-2 minutes</i>
                                    <div id="actionMatchLogImports" style="margin-top:20px">
                                        <button class="btn btn-primary btn-lg" id="btnStartMatchLogImports">Start</button>
                                        <span style="font-size: 48px; color:dimgray; display:none;" id="spinnerMatchLogImports">
                                            <i class="fas fa-sync-alt fa-spin"></i><br />Processing..
                                        </span>
                                    </div>
                                    <div id="resultMatchLogImports" class="text-success" style="font-size:30px; display:none">
                                        <span class="text-success" style="font-size: 48px" id="spinnerMatchLogImports">
                                            <i class="fas fa-clipboard-check"></i><br />
                                        </span>
                                        Updates Complete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .tab-pane {
        text-align: center
    }

    .spin-icon {
        min-width: 10vw;
    }
</style>

<script>
    $('#btnStartPlayerUpdates').click(function () {
        $(this).css('display', 'none');
        $('#spinnerPlayerUpdates').css('display', 'block');

        $.ajax({
            url: "/Admin/UpdatePlayerMatchLogSummaries",
            method: "GET",
            success: function () {
                $('#spinnerPlayerUpdates').css('display', 'none');
                $('#resultPlayerUpdates').css('display', 'block');
            },
            error: function () {
                toastr.error('Failed to update Player Match Logs');
            }
        });
    });

    $('#btnStartTeamUpdates').click(function () {
        $(this).css('display', 'none');
        $('#spinnerTeamUpdates').css('display', 'block');

        $.ajax({
            url: "/Admin/UpdateTeamMatchLogSummaries",
            method: "GET",
            success: function () {
                $('#spinnerTeamUpdates').css('display', 'none');
                $('#resultTeamUpdates').css('display', 'block');
            },
            error: function () {
                toastr.error('Failed to update Team Match Logs');
            }
        });
    });

    $('#btnStartMatchLogImports').click(function () {
        $(this).css('display', 'none');
        $('#spinnerMatchLogImports').css('display', 'block');

        $.ajax({
            url: "/Scrape/ExecuteImportAll",
            method: "GET",
            success: function () {
                $('#spinnerMatchLogImports').css('display', 'none');
                $('#resultMatchLogImports').css('display', 'block');
            },
            error: function () {
                toastr.error('Failed to import Match Logs');
            }
        });
    });
</script>