<option>GK</option>
<option>RB</option>
<option>LB</option>
<option>CB</option>
<option>WB</option>
<option>DM</option>
<option>CM</option>
<option>RM</option>
<option>LM</option>
<option>AM</option>
<option>RW</option>
<option>LW</option>
<option>AM</option>
<option>FW</option>