@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="text-align:center">
    <h1 class="text-danger">Error.</h1>

    @if (Model.ShowMessage)
    {
        <h2 class="text-danger">@Model.Message</h2>
    }
    else
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>