<div class="row" style="padding-bottom:10px">
    <div class="col-12">
        <h1 style="text-align:center"><b>@User.Identities.First().Claims.FirstOrDefault(x => x.Type.Equals(AkriStat.Constants.ASClaimTypes.FullName)).Value</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-6">
        <a asp-action="Edit">
            <div class="small-box bg-info">
                <div class="inner" style="text-align:center">
                    <h3>Edit Profile</h3>
                    <p>Edit details relating to your account</p>
                    <div class="icon">
                        <i class="fas fa-user" style="position:inherit"></i>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6">
        <a asp-action="DeletedShortlists">
            <div class="small-box bg-success">
                <div class="inner" style="text-align:center">
                    <h3>Shortlists</h3>
                    <p>Recover deleted shortlists</p>
                    <div class="icon">
                        <i class="far fa-clipboard" style="position:inherit"></i>
                    </div>
                </div>

            </div>
        </a>
    </div>
</div>
