<div class="row">
    <div class="col-2">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="dean-mcguigan"><a class="LI-simple-link" href='https://uk.linkedin.com/in/dean-mcguigan?trk=profile-badge'>Dean McGuigan</a></div>
    </div>
</div>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>